@font-face {
    font-family: "myFont";
    src: url("font.ttf");
  }

body{

    background:url("image/picture.jpg") no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}

img{
    width: 150px;
    height:100px; 
} 

.logo{
    float: left;
    padding: 0 0 0 5%;
    width:18%;
    height:auto;
}

nav{
    border-bottom: 2px solid black;
}

ul{
    display:flex;
    align-items: center;
}

nav ul li {
	display: inline-block;
	margin: 20px 0 0 50px;
	padding: 0 0 30px 0 ;
    width: auto;  
}

nav ul li a {
	color: #000000;
    font-family: "myFont", "Fb Rotem";
	font-size: 35px;
	font-weight: normal;
	line-height: 14px;
    margin-right: 50px;
	padding: 0 ;
    width: auto;
    text-decoration: none;
    letter-spacing:normal;
    flex:1;
    transition: all 1s  ease-in-out; 
}

nav ul li a:hover {
	color: rgb(252 ,65 ,111);
}

main {
    letter-spacing: 1.5px;
    line-height: 1.6;
    color: white;
    font-family: "myFont", "Fb Rotem";
    font-size: 30px;
    text-align: center;
    background-color: rgb(252 ,65 ,111,0.8);
    margin: 0 10% 0 10%;
    padding: 3% 3% 3% 3%;
       
}

table{
    margin:auto;
}

#order{
    letter-spacing: 2.5px; 
    line-height: 2.6rem; 
    background-color: #000000; 
    color: aliceblue;
    font-family: "myFont", "Fb Rotem";
    font-size: 40px;
    text-align: center;
    position: relative;
    animation-name: order; 
    animation-duration: 1s;
    animation-direction:relative;
    animation-iteration-count: infinite;
    animation-delay:1.5s
}

@keyframes order {
    0%  { background-color:white; color:rgb(252 ,65 ,111,0.8);  }
    25%  { background-color: #000000; color: aliceblue;  }
    100% { background-color:white; color:rgb(252 ,65 ,111,0.8);  }
}

iframe{
    width:70%;
    /* height:200px */
}

.invite{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 5%;
}

.prices{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 19px 0 2px 0;
}
.SortOfCake{
    font-size: 100%;
    position: relative;
}

.SortOfCake:hover{
   animation: SortOfCake 5s ease-out  infinite alternate;
}

@keyframes  SortOfCake {
    0%   {font-size:100%;}
    25%  {font-size:135%;}
    50%  {font-size:100%;}
    75%  {font-size:135%;}
    100% { font-size:100%;}
}

footer{
    margin-top: -40px;
} 

div h1{
    background-color: rgba(0, 0, 0);
    margin: 0 0 0 0;
    letter-spacing: 2.5px; 
    line-height: 1.8;  
    padding:20px 0 15px 0;
    color: white;
    font-family: "myFont", "Fb Rotem";
    font-size: 25px;
    background-color: rgba(0, 0, 0);
    padding: 40px  0 40px 40px;
    text-align:center;
    bottom: 0%;
}


@media screen and (max-width:1387px){

    .prices{  
        flex-direction: column;
        justify-content: center;   
    }

}


@media screen and (max-width:1300px){

    nav ul li a{
        font-size: 200%;
    }

    table{
        font-size: 80%;
    }

    nav ul li {
        padding: 0px;
        margin: 0 0 0 50px;
    }

}


@media screen and (max-width:1024px){

     nav ul {
       flex-direction: column;
       text-align: left;
    }
    
    nav ul li {
        padding: 0px;
        margin: 0 0 0 50px;
    }

    nav ul li a{
        font-size:200%;
        overflow: hidden;
        line-height: 1.3;
    }  

    table{
        font-size: 80%;
    } 

}


@media screen and (max-width:912px){

    nav ul li {
        padding: 0px;
        margin: 0 0 0 50px;
    } 

    nav ul li a{
        font-size:200%;
        overflow: hidden;
        line-height: 1.3;
    }  

    nav ul {
        flex-direction: column;
        text-align: left;
    } 
    
    iframe{
        margin-top: -50px;
    }

}