#list_page {
    /* background-image: url('../pictures/bride.jpg'); */
    /* position: fixed; */
    background-position: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../pictures/bride3.jpg);
    position: fixed;
    /* border-radius: 21px; */
    /* background-color: #fefefe; */
    /* margin: auto; */
    /* padding: 25px; */
    /* border: 1px solid #888; */
    /* width: 85%; */
    /* margin-top: -95px; */
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../pictures/bride.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -9px;
    margin-left: -31px;
    /* background-position-x: right; */
    /* background-attachment: fixed; */
    /* background-position-y: top; */
}

#letsCount {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../pictures/bride2.jpg);
    /* background-image: url(../pictures/bride2.jpg); */
    width: 88px;
    background-size: cover;
    background-position: center;
    height: 73px;
    /* border: -361px; */
    box-shadow: gray;
    box-shadow: -3px 3px 5px 0px gray;
    border: 0;
    background-repeat: no-repeat;
    border-radius: 83px;
    color: #a3829d;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 46px;
}

#letsCount:hover {
    width: 91px;
    height: 76px;
}

#letsCount :focus {
    width: 91px;
    height: 76px;
    box-shadow: inset -3px 1px 13px 3px gray;
}

.lst_pagediv {
    margin-top: 112px;
    color: #a3829d;
    font-weight: bolder;
}

.infoicon {
    margin-right: -961px;
    color: #a3829d;
    margin-top: 23px;
}

#myinfiicon:hover {
    font-size: 40px;
}

#myinfiicon {
    font-size: 35px;
}