/* html {
    background-color: rgb(15, 13, 13);
} */

body {
    text-align: center;
    background-attachment: fixed;
}

.divs {
    width: 30em;
    height: 10em;
}


/* label
{
    font-size: 2em;
    color: aquamarine; 
    margin-right: 1em;
} */


/* input
{
   width: 15em;
   height: 2em;
   border-radius: 5em;
   background-color:black ;
   border-color:rgb(181, 233, 216);
   color: rgb(181, 233, 216);
   margin-bottom: 3rem;
} */


/* h1
{
    color: rgb(181, 233, 216);
    font-size: 3em;
    margin-bottom: 3rem;
} */

.text {
    border-radius: 1em;
    background-color: black;
    border-color: rgb(181, 233, 216);
    color: rgb(181, 233, 216);
    margin-right: 2em;
}

.bt {
    border-radius: 3em;
    background-color: black;
    border-color: rgb(181, 233, 216);
    color: rgb(181, 233, 216);
}


/* p{
    color: rgb(181, 233, 216);
    font-size: 1.2em;
} */

.btn {
    border-radius: 3em;
    background-color: black;
    border-color: rgb(181, 233, 216);
    color: rgb(181, 233, 216);
}